BasedOnStyle: LLVM

IndentWidth: 4
IndentCaseLabels: true
TabWidth: 4
SpacesBeforeTrailingComments: 2

PointerAlignment: Left
BreakBeforeBraces: Custom
AlignAfterOpenBracket: BlockIndent

BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  BeforeElse: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AcrossAccessSpecifiers: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: false

ColumnLimit: 0

SpaceAfterCStyleCast: true
